@import 'tailwindcss';

@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-mono: var(--font-ibm-plex-mono), ui-monospace, monospace;
  --font-syne: var(--font-syne), sans-serif;
  --text-lg: 0.9375rem;
  --tw-prose-font-size: 0.875rem;
}
